<div class="_sub-page-bg">
    <div class="text">
        <h1 class="_page-title">{{ "servants.title" | translate }}</h1>
    </div>
</div>

<div class="content" *ngIf="lang$ | async as lang">
    <div class="content-w info-container">
        <div *ngFor="let servant of servants" class="info-block">
            <img *ngIf="servant.avatar" [src]="servant.avatar" alt="avatar" class="avatar">
            
            <ng-container *ngIf="lang === languages.en; else name">
                <div class="name _text-medium">
                    {{ servant.name[lang] }} {{ servant.name2[lang] }}
                </div>
            </ng-container>

            <ng-template #name>
                <div class="name _text-medium">{{ servant.name[lang] }}</div>
                <div class="name-2 _text-medium">{{ servant.name2[lang] }}</div>
            </ng-template>
            
            <div class="position _text-small">{{ servant.position[lang] }}</div>
        </div>
    </div>
</div>
