@use '../../../assets/styles/design-styles';


:host {
    background: design-styles.$blue-medium;
    width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper {
    max-width: 1300px;

    .content-w {
        padding: 44px 0;
        display: flex;
        justify-content: space-between;

        .left-block {
            padding-inline-end: 50px;
            display: flex;
            align-items: center;

            .logo-block {
                display: flex;
                align-items: flex-start;

                .logo {
                    height: 89px;
                }

                .logo-text {
                    margin-inline-start: 20px;
                    height: 49px;
                    margin-top: 10px;
                }
            }
        }

        .center-block {
            flex: 1;
            max-width: 330px;
            margin-right: 16px;
            p {
                color: white;
                font-size: 14px;
                margin: 0.3em auto;
                a {
                    text-decoration: none;
                    color: white;
                    white-space: nowrap;
                }
            }
        }

        .right-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding-top: 10px;

            .text {
                font-size: 14px;
                color: white;
            }

            .social {
                display: flex;

                a {
                    img {
                        width: 34px;
                        height: 34px;
                    }
                    &:not(:last-child) {
                        padding-right: 26px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .wrapper .content-w {
        max-width: 100%;
        padding: 44px 30px;
    }
}

@media screen and (max-width: 800px) {
    .wrapper .content-w {
        flex-direction: column;
        padding: 44px 30px;

        .left-block,
        .right-block {
            padding: 0;
            justify-content: center;
        }

        .center-block {
            margin: 0 auto ;
            max-width: unset;
            text-align: center;
        }

        .right-block {
            align-items: center;

            .social {
                a {
                    padding: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .wrapper .content-w {
        padding: 44px 20px;
    }
}
