<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <img src="/assets/images/logo512.png" width="32" height="32" />
      <h6>Let's do this.</h6>
      <small class="d-block mb-3 text-muted">
        &copy; 2009-{{today | date:'yyyy'}} <a href="https://www.3metas.com" class="m-link">3Metas Corp</a>. <br />
        Powered By <a href="https://www.23blocks.com" class="m-link">23Blocks</a><br>
        With Love from Boulder, CO.
      </small>
    </div>
  </div>
</footer>
