<footer class="wrapper">
    <div class="content">
        <div class="left-block">
            <div class="logo-block">
                <img class="logo" src="assets/images/Logo.svg" alt="logo">
                <img class="logo-text" src="assets/images/LogoText.svg" alt="logo">
            </div>
        </div>

        <div class="center-block">
            <p>Україна, м. Бердичів, вул. Грушевського 40</p>
            <p>Email: <a href="mailto:">rizdvo@ukr.net</a></p>
            <p>Телефон: <a href="tel:+380970000000">+38(097) 000-00-00</a></p>
        </div>

        <div class="right-block">
            <p class="text">Слідкуй за нами</p>

            <div class="social">
                <a href="">
                    <img src="assets/images/Facebook.svg" alt="facebook">
                </a>
                <a href="">
                    <img src="assets/images/Instagram.svg" alt="instagram">
                </a>
                <a href="">
                    <img src="assets/images/Youtube.svg" alt="youtube">
                </a>
            </div>
        </div>
    </div>
</footer>
