<footer class="wrapper">
    <div class="content">
        <div class="left-block">
            <div class="logo-block">
                <img class="logo" src="assets/images/Logo.svg" alt="logo">
                <img class="logo-text" src="assets/images/LogoText.svg" alt="logo">
            </div>
        </div>

        <div class="center-block">
            <p class="_title-small">{{ "footer.address" | translate }}</p>
        </div>
        <div class="center-block ml-10">
            <p class="_title-small">{{ "footer.phone" | translate }}: <a href="tel:+380970000000">+38(097) 000-00-00</a></p>
            <p class="_title-small">Email: <a href="mailto:">rizdvo@ukr.net</a></p>
        </div>

        <div class="right-block">
            <!-- <p class="_title-small text">{{ "footer.followUs" | translate }}</p> -->
            <div class="social">
                <a href="">
                    <img src="assets/images/instagram-link.svg" alt="instagram">
                </a>
                <a href="">
                    <img src="assets/images/facebook-link.svg" alt="facebook">
                </a>
                <a href="">
                    <img src="assets/images/Youtube.svg" alt="youtube">
                </a>
            </div>

        </div>
    </div>
</footer>
