<nav class="site-header">
    <div class="content">
        <div class="logo-block">
            <img class="logo" src="/assets/images/Logo.svg" alt="logo">
        </div>

        <div class="pages">
            <a class="text page-link" id="main_link" (click)="scrollTo('main')">Головна</a>
            <a class="text page-link" id="aboutUs_link" (click)="scrollTo('aboutUs')">Про нас</a>
            <a class="text page-link" id="history_link" (click)="scrollTo('history')">Територія</a>
            <a class="text page-link" id="projects_link" (click)="scrollTo('projects')">Проекти</a>
        </div>

        <div class="languages-block">
            <mat-button-toggle-group [value]="currentLang" (change)="changeLanguage($event)">
                <mat-button-toggle *ngFor="let lang of languages" disableRipple [value]="lang">
                    {{ lang }}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
</nav>
