.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    z-index: 10;

    .pages {
        flex: 1;
        max-width: 700px;
        display: flex;
        justify-content: space-around;

        .page {
            font-weight: bold;
            padding: 20px 10px;
            cursor: pointer;
            color: white;
            font-size: 18px;
        }
    }
}
