@use '../../../assets/styles/design-styles';

:host {
    width: 100%;
    display: flex;
    justify-content: center;
}
.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    padding: 0px 37px 0px;

    .content {
        display: flex;
        max-width: 1365px;
        margin: 0 auto;

        .logo-container {
            padding-top: 23px;
            display: inline-block;
            background: none;
            margin-right: 40px;
            display: flex;
            align-items: flex-start;
        }

        .languages-block {
            flex: 0 1;
            display: flex;
            align-items: flex-start;
            padding: 23px 15px 0;
            height: 100%;
        }

        .pages {
            flex: 1 1 100%;
            display: flex;
            position: relative;
            padding: 18px 0;
            align-items: flex-start;
            justify-content: center;
            height: 100%;

            .page-link {
                text-decoration: none;
                transition: color 0.5s;
                border-radius: 4px;

                &.current {
                    color: #cce6f5;
                }

                &:not(.current):hover {
                    color: #c1caca;
                    background-color: #bfcdd917;
                }
            }
        }

        .text {
            margin: 0px 0.2vw;
            cursor: pointer;
            color: white;
            white-space: nowrap;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            height: max-content;
            padding: 20px 10px;
        }

        .mat-button-toggle-group-appearance-standard {
            border: none;
        }

        .mat-button-toggle-appearance-standard {
            color: #fff;
            background: transparent;
            border: none;
            font-size: 14px;
            transition: color 0.5s;
            text-transform: uppercase;

            ::ng-deep .mat-button-toggle-label-content {
                text-transform: uppercase;
            }
        }

        .mat-button-toggle-checked {
            color: #cce6f5;
            background: transparent;
            font-size: 18px;
        }

        .trigger {
            display: none;
        }
    }

    &.color {
        .logo {
            width: 50px;
            margin-right: 26px;
            cursor: pointer;
            transition: 0.2s linear;
        }

        .logo-text {
            margin-top: 12px;
            height: 30px;
            cursor: pointer;
            transition: 0.2s linear;
        }
        transition: 1s linear;
        background-color: #6093bfd9;

    }

    &.noColor {
        transition: 0.2s linear;
        background-color: transparent;
        .logo {
            width: 100px;
            margin-right: 26px;
            cursor: pointer;
            transition: 0.2s linear;
        }

        .logo-text {
            margin-top: 12px;
            height: 57px;
            cursor: pointer;
            transition: 0.2s linear;

        }
    }
}

@media screen and (max-width: 1450px) {
    .site-header {
        width: 100%;
        .content {
            .text {
                font-size: 14px;
            }
            .logo-text {
                display: none;
            }
            .languages-block {
                padding: 0px;
                padding-top: 23px;
                position: relative;
            }

            .mat-button-toggle-appearance-standard:not(.mat-button-toggle-checked) {
                display: none;
            }

            .trigger {
                display: block;
                position: absolute;
                width: 48px;
                height: 48px;
                z-index: 1;
                cursor: pointer;
            }
        }
    }
}


@media screen and (max-width: 1086px) {
    .site-header {
        padding: 10px 30px;
        width: 100%;
        .content {
            align-items: center;
            .logo-container{
                margin: 0px;
            }
            .logo {
                margin-top: 10px;
                height: 45px;
                width: 100%;
            }

            .text {
                padding: 20px 10px;
                margin: 0 10px;
                font-size: 12px;
                line-height: 14px;
            }

            .pages {
                justify-content: flex-start;
                position: relative;

                .page-link:not(.current) {
                    display: none;
                }
            }
        }
    }

    :host ::ng-deep .mat-button-toggle-label-content {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .site-header {
        padding: 10px 20px;
    }
}

.text-dropdown {
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    text-align: 24px;
    white-space: nowrap;
}
