@import "design-styles.scss";

._sub-page-bg {
    background-image: linear-gradient(
            0deg,
            rgba(30, 30, 30, 0.4),
            rgba(30, 30, 30, 0.4)
        ),
        url("https://camp-bethel.s3.amazonaws.com/backgrounds/schedule-bg.jpg");
}

.content {
    padding: 50px;
    background-color: $gray-light;
    max-width: 100%;
    min-height: 35vh;

    @media screen and (max-width: 800px) {
        padding: 30px;
    }

    ._text-medium {
        color: $blue-dark;
    }

    .content-w {
        
        .block {
            display: flex; 
            flex-direction: column;
            align-items: center;
            text-align: center;

            .day {
                text-transform: uppercase;
                color: $blue-dark;
                margin-top: 1.5em;
                margin-bottom: 0;
            }

            .ministry {
                color: $blue-dark;
                margin-top: 0.5em;

                .time {
                    color: $brown;
                }

                .link {
                    color: $blue-dark;
                    display: block;
                    width: max-content;
                    cursor: pointer;


                    &:hover {
                        transform: scale(1.1)  translate(0px, 0px);
                        transition: transform 0.2s linear;
                    }
                }
            }
        }
    }

}