<div class="_sub-page-bg" appImageLoader>
    <div class="text">
        <h1 class="_page-title">{{ "schedule.title" | translate }}</h1>
    </div>
</div>

<div class="content">
    <div class="content-w _text-large">
        <div class="rectangle-image"></div>

        <div class="text">
            <div class="block">
                <h4 class="_title ministry">{{ "schedule.service" | translate }}</h4> 
                <p class="day">
                    {{ "schedule.sunday" | translate }} 10:00
                </p> 
            </div>

            <div class="block">
                <h4 class="_title ministry">{{ "schedule.prayer" | translate }}</h4> 
                <p class="day">
                    {{ "schedule.tuesday" | translate }} - {{ "schedule.friday" | translate }} 9:00
                </p> 
            </div>

            <div class="block">
                <h4 class="_title ministry">{{ "schedule.youthService" | translate }}</h4> 
                <p class="day">
                    {{ "schedule.saturday" | translate }} 19:00
                </p>
            </div>

            <div class="block">
                <h4 class="_title ministry">{{ "schedule.teenegersService" | translate }}</h4> 
                <p class="day">
                    {{ "schedule.saturday" | translate }} 14:00
                </p>
            </div>

            <div class="block">
                <h4 class="_title ministry">{{ "schedule.bibleSchool" | translate }}</h4> 
                <p class="day">
                    {{ "schedule.saturday" | translate }} 12:00
                </p>
            </div>

            <div class="block">
                <h4 class="_title ministry">{{ "schedule.homeGroups" | translate }}</h4> 
                <!-- <p class="day">
                    <a href="/page-under-development" class="link">
                        {{ "schedule.detailsHere" | translate }}
                    </a>
                </p> -->
            </div>
        </div>
    </div>
</div>
