<div class="wrapper">
    <div class="photo-block">
        <img [src]="project.mainPhoto" alt="project photo">
    </div>

    <div class="info-block">
        <div class="_title-small">
            {{ project.name | translate }}
        </div>
        <div class="_text-small text-overflow">
            {{ project.description | translate }}
        </div>
        <div class="progress" data-aos="fade">
            <div class="_text-medium" *ngIf="project.haveMoney; else needMoney">
                {{ "campPage.collected" | translate }}:
                {{ project.haveMoney | currency:'USD':'symbol':'1.0-0' }} /
                {{ project.needMoney | currency:'USD':'symbol':'1.0-0' }}
            </div>

            <ng-template #needMoney>
                <div class="_text-medium">
                    {{ "campPage.need" | translate }}:
                    {{ project.needMoney | currency:'USD':'symbol':'1.0-0' }}
                </div>
            </ng-template>

            <mat-progress-bar *ngIf="project.haveMoney" [value]="progress$ | async">
            </mat-progress-bar>
        </div>
    </div>

    <div class="buttons-block">
        <button mat-flat-button color="primary" (click)="goToProject()">
            {{ "campPage.details" | translate }}
        </button>
        <app-donate-button></app-donate-button>
    </div>
</div>
