@import "design-styles.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .photo-block {
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .info-block {
        margin-top: 20px;

        .title-small {
            color: $blue-dark;
        }

        ._text-small {
            color: $blue-dark;
        }

        .progress {
            margin: 10px 0;
        }

        .text-overflow {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-align: justify;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        mat-progress-bar {
            margin-bottom: 10px;
        }
    }

    .buttons-block {
        margin-top: 10px;
        display: flex;
        justify-content: end;

        button {
            margin: 0 10px;
        }

        .mat-flat-button.mat-accent {
            color: $white;
        }
    }
}
