<h3 class="_title tc">{{ "donate.title" | translate }}</h3>
<a class="row" [href]="privatUrl" target="_blank">
    <img class="logo" src="assets/images/privat24.png">
    <div class="_text-medium text">{{"donate.private24" | translate}}</div>
</a>
<a class="row" href="assets/pdf/details-for-payments-in-dollars.pdf" target="_blank" download="details-for-payments-in-dollars.pdf">
    <img class="pdf-logo" src="assets/images/pdf-logo.png">
    <div class="_text-medium text">{{"donate.dollarDetailsPdf" | translate}}</div>
</a>
<a class="row" href="assets/pdf/details-for-payments-in-euros.pdf" target="_blank" download="details-for-payments-in-euros.pdf">
    <img class="pdf-logo" src="assets/images/pdf-logo.png">
    <div class="_text-medium text">{{"donate.euroDetailsPdf" | translate}}</div>
</a>
<a class="row" target="_blank">
    <img class="logo" src="assets/images/uplift-logo.jpg">
    <div class="_text-medium text">{{"donate.uplift" | translate}}</div>
</a>
