@import "design-styles.scss";

.tab-container {
    padding: 20px;
    min-height: 350px;
    a {
        color: unset;
        text-decoration: unset;
    }
    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 20px;
        cursor: pointer;
        &:hover {
            outline: 2px solid #BFCDD9;
            border-bottom-left-radius: 25px;
            border-top-right-radius: 25px;
            -webkit-border-bottom-left-radius: 25px;
            -khtml-border-bottom-left-radius: 25px;
            -moz-border-bottom-left-radius: 25px;
            -webkit-border-top-right-radius: 25px;
            -khtml-border-top-right-radius: 25px;
            -moz-border-top-right-radius: 25px;
        }
        .text {
            max-width: 380px;
        }
        .logo {
            width: 60px;
            height: 60px;
            margin-right: 40px;
        }
        .pdf-logo {
            width: 40px;
            height: 40px;
            margin-right: 50px;
            margin-left: 10px;
        }
        @media screen and (max-width: 500px) {
            .logo {
                width: 40px;
                height: 40px;
                margin-right: 20px;
            }
            .pdf-logo {
                width: 30px;
                height: 30px;
                margin-right: 25px;
                margin-left: 5px;
            }
        }
    }
    @media screen and (max-width: 629px) {
        padding: 2px;
    }

    .details {
        margin-top: 10px;
        padding: 25px;
        outline: 2px solid #BFCDD9;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 20px 25px;

        .detail-block {
            font-size: 18px;
            display: flex;
            flex-wrap: wrap;

            &:not(:first-child) {
                margin-top: 10px;
            }

            .detail-label {
                margin-right: 5px;
                white-space: nowrap;
                opacity: 0.8;
            }
        }

        @media screen and (max-width: 450px) {
            padding: 20px;

            .detail-block {
                font-size: 16px;
            }
        }
    }
}

:host ::ng-deep .mat-tab-list {
    max-width: 100%;

    .mat-tab-label {
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 1.3;
        padding: 0 15px;

        &.mat-tab-label-active {
            opacity: 1;
        }
    }
}

.tc {
    padding-left: 10px;
    margin: 0;
    flex: 1;
    font-size: 35px;

    @media screen and (max-width: 500px) {
        font-size: 28px;
    }
}

.mat-dialog-title {
    display: flex;
    align-items: center;

    button {
        padding: 0;
        min-width: 36px;
        height: 36px;
        font-size: 24px;
        margin-left: 25px;
    }
}

