<div class="wrapper">
    <div class="horizontal-scroll-wrapper">
        <div class="block-wrapper slower">
            <div class="image">
                <img src="/assets/images/1.jpg" alt="">
                <div class="image-label">Іван Юхимович Воронаєв</div>
            </div>
            
            <div class="text" style="width: 50vh">
                <p>Формування і розвиток Церкви Християн Євангельської віри в Україні бере свій початок від місіонерської діяльності Івана Юхимовича Воронаєва в 20-х роках.</p>
                <p>Іван Юхимович, будучи емігрантом в США, спочатку був баптистом. Але після свого хрещення Святим Духом в 1919 році він організовує в Нью-Йорку першу окрему п'ятидесятницьку церкву. </p>
                <p>На одному із зібрань, під час молитовного служіння, Воронаєв несподівано отримав Боже одкровення їхати в Росію та Україну і донести цим народам чудову звістку про хрещення Духом Святим.</p>
                <p>У серпні 1921 року І.Є. Воронаєв, В.Р. Колтович та інші прибули до Одеси, де була дуже швидко організована перша п'ятидесятницька церква.</p>
            </div>
        </div>
    
        <div class="block-wrapper faster">
            <div class="image">
                <img src="/assets/images/2.jpg" alt="">
                <div class="image-label">Шкарбун Никифор</div>
            </div>
            <div class="text" style="width: 32vh">
                <p>Зокрема на території Житомирської області, в Бердичівському районі, на початку 20-х років в с. Бистрик почув Євангельську звістку 20-річний юнак Шкарбун Никифор. Повіривши всім серцем, він почав проповідувати іншим, і вже в 1924 році в  с. Бистрик була група хрещених Святим Духом. Він же і керував цією групою. </p>
            </div>
        </div>
    
        <div class="block-wrapper slower vertical">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/windowshopclock.jpg" alt="">
        </div>
    
        <div class="block-wrapper slower slower-down">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/swanduckriver.jpg" alt="">
        </div>
    
        <div class="block-wrapper">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/cafe-terrace.jpg" alt="">
        </div>
    
        <div class="block-wrapper slower">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/paris-seine-boat.jpg" alt="">
        </div>
    
        <div class="block-wrapper faster1">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/old-man-river.jpg" alt="">
        </div>
        
        <div class="block-wrapper slower slower2">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/cafe-table-street.jpg" alt="">
        </div>
        
        <div class="block-wrapper">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/street-scene-people.jpg" alt="">
        </div>
        
        <div class="block-wrapper slower last">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/notre-dame-river-boat.jpg" alt="">
        </div>
    </div>
</div>