<div class="wrapper">
    <div #historyContainer class="horizontal-scroll-wrapper">
        <h2 class="page-title">{{ 'churchHistory.pageTitle' | translate }}</h2>

        <div class="block-wrapper slower" id="1920" style="margin-bottom: 30vh;">
            <ng-container *ngTemplateOutlet="photo; context:{index: 1}"></ng-container>
            
            <div class="text" style="width: 50vh">
                <p innerHTML="{{ 'churchHistory.1.text1' | translate }}"></p>
                <p innerHTML="{{ 'churchHistory.1.text2' | translate }}"></p>
                <p innerHTML="{{ 'churchHistory.1.text3' | translate }}"></p>
                <p innerHTML="{{ 'churchHistory.1.text4' | translate }}"></p>
            </div>
        </div>
    
        <div class="block-wrapper faster" style="margin-bottom: 10vh;">
            <ng-container *ngTemplateOutlet="photo; context:{index: 2}"></ng-container>

            <div class="text" style="width: 42vh">
                <p innerHTML="{{ 'churchHistory.2.text1' | translate }}"></p>
                <p innerHTML="{{ 'churchHistory.2.text2' | translate }}"></p>
            </div>
        </div>
    
        <div class="block-wrapper slower vertical" style="width: 80vh">
            <ng-container *ngTemplateOutlet="photo; context:{index: 3}"></ng-container>

            <div class="text">
                <p innerHTML="{{ 'churchHistory.3.text1' | translate }}"></p>
            </div>
        </div>
    
        <div class="block-wrapper faster-down" style="margin-bottom: 30vh;" id="1930">
            <ng-container *ngTemplateOutlet="photo; context:{index: 4}"></ng-container>

            <div class="text" style="width: 50vh">
                <p innerHTML="{{ 'churchHistory.4.text1' | translate }}"></p>
                <p innerHTML="{{ 'churchHistory.4.text2' | translate }}"></p> 
            </div>
        </div>
    
        <div class="block-wrapper slower-down" >
            <ng-container *ngTemplateOutlet="photo; context:{index: 5}"></ng-container>

            <div class="text" style="width: 40vh">
                <p innerHTML="{{ 'churchHistory.5.text1' | translate }}"></p>
                <p innerHTML="{{ 'churchHistory.5.text2' | translate }}"></p> 
            </div>
        </div>
    
        <div class="block-wrapper slower" style="margin-bottom: 10vh;">
            <div class="text" style="width: 45vh">
                <p innerHTML="{{ 'churchHistory.6.text1' | translate }}"></p> 
            </div>
        </div>
    
        <div class="block-wrapper faster1">
            <ng-container *ngTemplateOutlet="photo; context:{index: 7}"></ng-container>

            <div class="text" style="width: 47vh">
                <p innerHTML="{{ 'churchHistory.7.text1' | translate }}"></p> 
                <p innerHTML="{{ 'churchHistory.7.text2' | translate }}"></p> 
            </div>
        </div>
        
        <div class="block-wrapper slower slower2 vertical">
            <ng-container *ngTemplateOutlet="photo; context:{index: 8}"></ng-container>

            <div class="text little">
                <p innerHTML="{{ 'churchHistory.8.text1' | translate }}"></p> 
            </div>
        </div>
        
        <div class="block-wrapper medium vertical">
            <ng-container *ngTemplateOutlet="photo; context:{index: 9}"></ng-container>

            <div class="text">
               <p innerHTML="{{ 'churchHistory.9.text1' | translate }}"></p> 
            </div>
        </div>
        
        <div class="block-wrapper slower-down" id="1940">
            <ng-container *ngTemplateOutlet="photo; context:{index: 10}"></ng-container>

            <div class="text" style="width: 48vh">
                <p innerHTML="{{ 'churchHistory.10.text1' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper faster1">
            <ng-container *ngTemplateOutlet="photo; context:{index: 11}"></ng-container>

            <div class="text" style="width: 45vh">
                <p innerHTML="{{ 'churchHistory.11.text1' | translate }}"></p> 
                <p innerHTML="{{ 'churchHistory.11.text2' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper slower">
            <ng-container *ngTemplateOutlet="photo; context:{index: 12}"></ng-container>

            <div class="text" style="width: 57vh">
                <p innerHTML="{{ 'churchHistory.12.text1' | translate }}"></p> 
                <p innerHTML="{{ 'churchHistory.12.text2' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper faster">
            <ng-container *ngTemplateOutlet="photo; context:{index: 13}"></ng-container>

            <div class="text" style="width: 36vh">
                <p innerHTML="{{ 'churchHistory.13.text1' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper slower2" id="1950">
            <div class="text" style="width: 64vh">
                <p innerHTML="{{ 'churchHistory.14.text1' | translate }}"></p> 
                <p innerHTML="{{ 'churchHistory.14.text2' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper faster1 vertical">
            <ng-container *ngTemplateOutlet="photo; context:{index: 15}"></ng-container>

            <div class="text">
                <p innerHTML="{{ 'churchHistory.15.text1' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper slower vertical" id="1960">
            <ng-container *ngTemplateOutlet="photo; context:{index: 16}"></ng-container>

            <div class="text">
                <p innerHTML="{{ 'churchHistory.16.text1' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper faster1">
            <ng-container *ngTemplateOutlet="photo; context:{index: 17}"></ng-container>

            <div class="text" style="width: 40vh">
                <p innerHTML="{{ 'churchHistory.17.text1' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper slower-down" id="1970">
            <ng-container *ngTemplateOutlet="photo; context:{index: 18}"></ng-container>

            <div class="text" style="width: 38vh">
                <p innerHTML="{{ 'churchHistory.18.text1' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper faster-down">
            <div class="text">
                <p innerHTML="{{ 'churchHistory.19.text1' | translate }}"></p> 
                <p innerHTML="{{ 'churchHistory.19.text2' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper slower2">
            <div class="text">
                <p innerHTML="{{ 'churchHistory.20.text1' | translate }}"></p> 
                <p innerHTML="{{ 'churchHistory.20.text2' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper faster">
            <div class="text">
                <p innerHTML="{{ 'churchHistory.21.text1' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper slower vertical" id="1980">
            <ng-container *ngTemplateOutlet="photo; context:{index: 22}"></ng-container>

            <div class="text">
                <p innerHTML="{{ 'churchHistory.22.text1' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper faster vertical">
            <ng-container *ngTemplateOutlet="photo; context:{index: 23}"></ng-container>

            <div class="text">
                <p innerHTML="{{ 'churchHistory.23.text1' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper slower vertical">
            <ng-container *ngTemplateOutlet="photo; context:{index: 24}"></ng-container>

            <div class="text">
                <p innerHTML="{{ 'churchHistory.24.text1' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper fastest vertical" id="1990">
            <ng-container *ngTemplateOutlet="photo; context:{index: 25}"></ng-container>

            <div class="text">
                <p innerHTML="{{ 'churchHistory.25.text1' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper slower vertical">
            <ng-container *ngTemplateOutlet="photo; context:{index: 26}"></ng-container>

            <div class="text">
                <p innerHTML="{{ 'churchHistory.26.text1' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper fastest vertical">
            <ng-container *ngTemplateOutlet="photo; context:{index: 27}"></ng-container>

            <div class="text">
                <p innerHTML="{{ 'churchHistory.27.text1' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper slower1 vertical" style="margin-bottom: 30vh">
            <ng-container *ngTemplateOutlet="photo; context:{index: 28}"></ng-container>

            <div class="text">
                <p innerHTML="{{ 'churchHistory.28.text1' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper faster" style="margin-bottom: 40vh">
            <ng-container *ngTemplateOutlet="photo; context:{index: 29}"></ng-container>

            <div class="text" style="width: 40vh">
                <p innerHTML="{{ 'churchHistory.29.text1' | translate }}"></p> 
                <p innerHTML="{{ 'churchHistory.29.text2' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper slower" id="2000">
            <ng-container *ngTemplateOutlet="photo; context:{index: 30}"></ng-container>

            <div class="text" style="width: 50vh">
                <p innerHTML="{{ 'churchHistory.30.text1' | translate }}"></p>
                <p innerHTML="{{ 'churchHistory.30.text2' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper faster1 vertical">
            <ng-container *ngTemplateOutlet="photo; context:{index: 31}"></ng-container>

            <div class="text">
                <p innerHTML="{{ 'churchHistory.31.text1' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper slower vertical" id="2010">
            <ng-container *ngTemplateOutlet="photo; context:{index: 32}"></ng-container>

            <div class="text">
                <p innerHTML="{{ 'churchHistory.32.text1' | translate }}"></p> 
                <p innerHTML="{{ 'churchHistory.32.text2' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper faster vertical">
            <ng-container *ngTemplateOutlet="photo; context:{index: 33}"></ng-container>

            <div class="text">
                <p innerHTML="{{ 'churchHistory.33.text1' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper slower2 vertical">
            <ng-container *ngTemplateOutlet="photo; context:{index: 34}"></ng-container>

            <div class="text">
                <p innerHTML="{{ 'churchHistory.34.text1' | translate }}"></p> 
                <p innerHTML="{{ 'churchHistory.34.text2' | translate }}"></p> 
            </div>
        </div>

        <div class="block-wrapper fastest" id="2020">
            <ng-container *ngTemplateOutlet="photo; context:{index: 35}"></ng-container>

            <div class="text" style="width: 42vh">
                <p innerHTML="{{ 'churchHistory.35.text1' | translate }}"></p>  
            </div>
        </div>

        <div class="block-wrapper last">
            <div class="text last-verse">
                <p innerHTML="{{ 'churchHistory.36.text1' | translate }}"></p>  
            </div>
        </div>
    </div>

    <div class="years-block" #yearsContainer>
        <ng-container *ngFor="let year of years">
            <div class="year" [class.current]="currentYear === year" (click)="scrollTo(year)">
                {{ year }}
            </div>
        </ng-container>
    </div>
</div>

<ng-template #photo let-index="index">
    <div class="image">
        <img [src]="photoUrl(index)" alt="{{ photoLabel(index) | translate }}" appImageLoader>
        <div class="image-label">
            {{ photoLabel(index) | translate }}
        </div>
    </div>
</ng-template>