<div class="wrapper">
    <div class="horizontal-scroll-wrapper">
        <div class="block-wrapper slower">
            <div class="image">
                <img src="/assets/images/1.jpg" alt="Іван Юхимович Воронаєв">
                <div class="image-label">Іван Юхимович Воронаєв</div>
            </div>
            
            <div class="text" style="width: 50vh">
                <p>Формування і розвиток Церкви Християн Євангельської віри в Україні бере свій початок від місіонерської діяльності Івана Юхимовича Воронаєва в 20-х роках.</p>
                <p>Іван Юхимович, будучи емігрантом в США, спочатку був баптистом. Але після свого хрещення Святим Духом в 1919 році він організовує в Нью-Йорку першу окрему п'ятидесятницьку церкву. </p>
                <p>На одному із зібрань, під час молитовного служіння, Воронаєв несподівано отримав Боже одкровення їхати в Росію та Україну і донести цим народам чудову звістку про хрещення Духом Святим.</p>
                <p>У серпні 1921 року І.Є. Воронаєв, В.Р. Колтович та інші прибули до Одеси, де була дуже швидко організована перша п'ятидесятницька церква.</p>
            </div>
        </div>
    
        <div class="block-wrapper faster" style="margin-bottom: 10vh;">
            <div class="image">
                <img src="/assets/images/2.jpg" alt="Шкарбун Никифор">
                <div class="image-label">Шкарбун Никифор</div>
            </div>
            <div class="text" style="width: 40vh">
                <p>Зокрема на території Житомирської області, в Бердичівському районі, на початку 20-х років в с. Бистрик почув Євангельську звістку 20-річний юнак Шкарбун Никифор. Повіривши всім серцем, він почав проповідувати іншим, і вже в 1924 році в  с. Бистрик була група хрещених Святим Духом. Він же і керував цією групою. </p>
                <p>У с. Іванківці в 20-х роках була група християн, хрещених Святим Духом. Тут відбувалося сильне пробудження. Духовне хрещення отримували навіть діти 7-8 років.</p>
            </div>
        </div>
    
        <div class="block-wrapper slower vertical" style="width: 80vh">
            <div class="image">
                <img src="/assets/images/3.jpg" alt="">
                <div class="image-label">Плакат "Союза воинствующих безбожников"</div>
            </div>
            <div class="text">
                <p>У 1929 році ставлення радянської влади до християн різко погіршилося після прийняття сталінського «Положення про релігійні культи», яке проіснувало до 1989 року (60 років), і принесло репресії, ув'язнення, висилки і фізичне знищення тисяч християн. Настав час серйозних випробувань, коли вірність Господу потрібно було довести на ділі.</p>
            </div>
        </div>
    
        <div class="block-wrapper faster-down" style="margin-bottom: 30vh;">
            <div class="image">
                <img src="/assets/images/4.jpg" alt="Сім'я Кучерів">
                <div class="image-label">Сім'я Кучерів</div>
            </div>
            <div class="text" style="width: 50vh">
                <p>Першими п'ятидесятниками в Бердичеві стали сім’я Кучерів, які походили з Хмельницької області. Їх переїзд до Бердичева пов'язаний з арештом Пилипа — за віру в Бога його засудили на 5 років і конфіскували все майно. У результаті  цих подій п’ятеро дітей Пилипа та його дружини Ганни померли, залишилась в живих тільки донька Ліда. Решта дітей народилися пізніше.</p>
                <p>Після відбуття терміну Пилипу заборонили повертатись в рідне село ближче ніж на 100 км. Постало питання - куди їхати? І на вокзалі Пилип з Ганною покликали до Господа: «Господи, допоможи!». І допомога прийшла несподівано - їм зустрівся єврей з Бердичева, який почув про долю цієї родини і запропонував їхати з ним. Так сім'я Кучерів опинилася в Бердичеві.</p>
            </div>
        </div>
    
        <div class="block-wrapper slower-down" >
            <div class="image">
                <img src="/assets/images/5.jpg" alt="Кучер Іван">
                <div class="image-label">Кучер Іван</div>
            </div>
            <div class="text" style="width: 40vh">
                <p>Спочатку сім'я оселилася в с. Бистрик, але незабаром у 1935 році переїхали до Бердичева, оселившись в районі цегельного заводу. Пилип як служитель обслуговував навколишні села Терехова, Бистрик. Незабаром з навколишніх сіл почали приїжджати віруючі, і в Бердичеві утворилася група п'ятидесятників.</p>
                <p><b>Цей момент вважають початком існування церкви п'ятидесятників в Бердичеві.</b></p>
            </div>
        </div>
    
        <div class="block-wrapper slower" style="margin-bottom: 10vh;">
            <div class="text" style="width: 45vh">
                <p>Одними з перших членів бердичівської церкви були Матвечук Олександр з дружиною Мотрею, які приїхали з села Тернівка у 1935 році. Їх будинок, який теж знаходився в районі цегельного заводу, став місцем ревних молитов і потужної сили Духа Святого. За свідченнями очевидців, сестра Мотря мала дар пророцтва, а Олександр - дар бачення. Віруючі збирались для молитов в їхньому будинку на 5 годин ранку, а потім йшли на роботу. Дуже багато людей отримало хрещення Духом Святим. Багато християн з інших місць приїжджали в будинок до Олександра, частіше вночі, побоюючись переслідувань.</p>
            </div>
        </div>
    
        <div class="block-wrapper faster1">
            <div class="image">
                <img src="/assets/images/7.jpg" alt="Боцяни Петро Хомич і Приська Львівна">
                <div class="image-label">Боцяни Петро Хомич і Парасковія Львівна</div>
            </div>
            <div class="text" style="width: 47vh">
                <p>Велику роль в історії бердичівської церкви зіграла сім'я Боцяна Петра. У 1933 році Петра репресували, конфіскували будинок і все майно, а його дружину Параску з 4-ма маленькими дітьми, вигнали на вулицю і не дали навіть дітям одягу. Через погрози влади ніхто з односельців не наважився допомогти їм. Одна з дочок Ольга сильно застудилася, і згодом часто хворіла.</p>
                <p>Однак Господь знайшов одного чоловіка, який не побоявся влади і зглянувся над сім’єю. Це був інвалід, їх односелець. Він прийняв їх до себе в будинок і обігрів. Згодом бідного інваліда викликали і після «бесіди» так побили, що він ледве доволочився додому.</p>
            </div>
        </div>
        
        <div class="block-wrapper slower slower2 vertical">
            <div class="image">
                <img src="/assets/images/8.jpg" alt="Родина Боцянів (1985 рік)">
                <div class="image-label">Родина Боцянів (1985 рік)</div>
            </div>
            <div class="text">
                <p>Незважаючи на жорстокі переслідування, молитва матері була про те, щоб серця дітей не зачерствіли в горі, щоб несправедливість не зламала їхню віру. Бог бачив скорботу матері, і Дух Святий працював в серцях дітей сім'ї Боцянів.</p>
                <p>Син Іван згодом став пресвітером бердичівської церкви, а також і його сини, Анатолій і Василь Боцян, стануть служителями.</p>
                <p>Донька Ольга стала ревною молитовницею. Її сини також стануть у майбутньому служителями бердичівської церкви.</p>
                <p>Наймолодша сестра Надія вийде заміж за Стахова Леоніда, який буде служителем і єпіскопом Житомирської області, а його син Петро Стахов стане місіонером і служителем нашої церкви.</p>
            </div>
        </div>
        
        <div class="block-wrapper medium vertical">
            <div class="image">
                <img src="/assets/images/9.jpg" alt="Радянський концтабір">
                <div class="image-label">Радянський концтабір</div>
            </div>
            <div class="text">
                <p>Це буде пізніше, а поки що віруючі України перестали бути рівноправними громадянами, вони стали людьми другого сорту. Роки з 1932 по 1937 були оголошені «п'ятирічкою знищення релігії». Віруючих у масовому порядку засуджували на 20-25 років таборів. Непоодинокими були й розстріли. Частину випустили з таборів після смерті Сталіна, але деякі досиділи свої терміни. Багато хто не повернувся з таборів - загинули там, в їх числі - Іван Воронаєв.</p>
            </div>
        </div>
        
        <div class="block-wrapper slower-down">
            <div class="image">
                <img src="/assets/images/10.jpg" alt="Бондаренко Олександр після ув'язнення">
                <div class="image-label">Бондаренко Олександр після ув'язнення</div>
            </div>
            <div class="text" style="width: 48vh">
                <p>Ось у такому репресивному середовищі зустріла Церква Христова в Україні Другу світову війну. Настав 1941 рік. Почалася загальна мобілізація на фронт всіх чоловіків призовного віку. За відмову брати зброю в руки і йти на фронт у Бердичівському районі засудили наших братів: <br>Бондаренко Олександр (хутір Олександрівка), <br>Боцян Петро (вдруге засуджений), <br>його син Боцян Іван (с. Малосілка), <br>Регет Яків (с. Гардішевка), <br>Паламарчук Андрій (с. Семенівка), <br>Шкарбун Анатолій (с. Бистрик), <br>Лінчук Володимир (с. Семенівки) <br>та інші.</p>
            </div>
        </div>

        <div class="block-wrapper faster1" style="margin-bottom: 10vh;">
            <div class="image">
                <img src="/assets/images/11.jpg" alt="Богун Володимир Іванович">
                <div class="image-label">Богун Володимир Іванович</div>
            </div>
            <div class="text" style="width: 38vh">
                <p>Однак, незважаючи на переслідування, в цей час люди масово каялись і приходили до Бога в Бердичівському районі. Ще в 1928 році в с. Обухівка через сестру Ониську було пророче слово, що прийде ще масове пробудження, і під час війни це пророцтво збулося. Серед тих, хто покаявся під час війни, був Богун Володимир. Після поранення він повернувся до Бердичева і став відвідувати Бердичівської церкву. Згодом він отримав від Бога дар пророцтва і користувався авторитетом серед віруючих.</p>
            </div>
        </div>

        <div class="block-wrapper slower last" style="width: 30vh">
            <div class="text" style="width: 40vh">Далі буде...</div>
        </div>
    </div>
</div>