<div class="wrapper">

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/t-ZiVqlLawY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="text-container">
        <b>Lorem ipsum dolor sit.</b>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae tempore corporis accusantium obcaecati. Enim maiores corrupti delectus atque nihil mollitia deserunt rem fuga illo? Animi ab tempore nobis omnis recusandae vero, mollitia harum tempora, numquam blanditiis ea officia laudantium culpa iste itaque ipsum ipsa nulla, neque quas dolor. Ratione nostrum quibusdam aut incidunt alias cupiditate maxime architecto animi corporis eveniet repellendus fugiat eligendi cum possimus debitis nemo aspernatur minus, soluta eos iste dolores perspiciatis veniam. Architecto dolor placeat facere accusamus laboriosam vitae id delectus odio minus commodi dicta quo, similique unde nesciunt fugiat corporis ea molestias odit quibusdam! Nisi, vel.
    </div>
</div>
