<div class="wrapper ">
    <div class="content-w">
        <div class="_text" data-aos="fade-in">
            {{ "campPage.history" | translate }}
        </div>

        <carousel [images]="images" [objectFit]="'cover'" [cellWidth]="'100%'" [dots]="true" [loop]="true">
        </carousel>
    </div>

</div>

<div class="description-block">
    <div class="content-w">
        <div class="_text" data-aos="fade-in">
            {{ "campPage.buildingHistory" | translate }}
        </div>
    </div>
</div>
