@import "design-styles.scss";

:host {
    display: flex;
    flex-direction: column;
}

.wrapper {
    padding: 50px 0;
    background-color: $white;
    max-width: 100%;

    .content-w {
        display: flex;
        align-items: center;
        overflow: hidden;

        .text-block {
            display: flex;
            flex-direction: column;
            padding: 0 50px;

            ._text-medium,
            ._title {
                color: $blue-dark;
            }
        }

        carousel {
            width: 800px;
            height: 600px !important;
            z-index: 8;

            ::ng-deep .carousel-arrow {
                opacity: 0.75;

                &.carousel-arrow-disabled {
                    opacity: 0.5;
                }
            }
        }
    }
}

.description-block {
    background-color: $gray-light;

    .content-w ._text-medium {
        text-align: center;
        padding: 50px;
        color: $blue-dark;
        font-weight: 500;
    }
}

@media screen and (max-width: 1200px) {
    .wrapper .content-w carousel {
        width: 600px;
        height: 450px !important;
    }
}

@media screen and (max-width: 1000px) {
    .wrapper .content-w carousel {
        width: 500px;
        height: 375px !important;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        padding: 0;

        .content-w {
            flex-direction: column;

            .text-block {
                padding: 30px;
            }

            carousel {
                width: 100%;
                height: 500px !important;
            }
        }
    }

    .description-block {
        .content-w ._text-medium {
            padding: 30px;
        }
    }
}

@media screen and (max-width: 600px) {
    .wrapper .content-w carousel {
        height: 400px !important;

        ::ng-deep .carousel-arrow {
            display: none;
        }
    }
}

@media screen and (max-width: 450px) {
    .wrapper .content-w carousel {
        height: 300px !important;
    }
}
