@import "design-styles.scss";

:host {
    display: flex;
    flex-direction: column;
}

.wrapper {
    padding-bottom: 50px;
    background-color: $white;
    max-width: 100%;

    .content-w {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        ._text {
            padding: 50px;
            text-align: center;
            color: $blue-dark;
        }

        carousel {
            width: 80%;
            z-index: 8;

            ::ng-deep .carousel-dots {
                .carousel-dot {
                    border: 2px solid $blue-light;
                }

                .carousel-dot-active {
                    background-color: $blue-light;
                }
            }
        }
    }
}

.description-block {
    background-color: $gray-light;

    .content-w ._text {
        text-align: center;
        padding: 50px;
        color: $blue-dark;
    }
}


@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0px;

        .content-w carousel {
            width: 100%;
        }
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        .content-w ._text {
            padding: 30px;
        }
    }

    .description-block {
        .content-w ._text {
            padding: 30px;
        }
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        carousel {
            height: 300px !important;

            ::ng-deep .carousel-arrow {
                display: none;
            }
        }
    }
}
