@import "design-styles.scss";

:host {
    display: flex;
    flex-direction: column;
}

.wrapper {
    padding: 50px 0;
    background-color: $white;
    max-width: 100%;

    .content-w {
        display: flex;
        align-items: center;
        overflow: hidden;

        .text-block {
            display: flex;
            flex-direction: column;
            padding: 0 50px;

            ._text-medium,
            ._title {
                color: $blue-dark;
            }
        }
    }
}

.description-block {
    background-color: $gray-light;

    .content-w ._text-medium {
        text-align: center;
        padding: 50px;
        color: $blue-dark;
        font-weight: 500;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        padding: 0;

        .content-w {
            flex-direction: column;

            .text-block {
                padding: 30px;
            }
        }
    }

    .description-block {
        .content-w ._text-medium {
            padding: 30px;
        }
    }
}
