
<div class="first-block">
    <div class="message">
        <div class="_page-title">{{ "mainPage.message" | translate }}</div>
        <div class="_page-subtitle">{{ "mainPage.placeWriting" | translate }}</div>
    </div>
</div>
<div class="page" id="aboutChurch">
    <app-about-us></app-about-us>
</div>

<div class="page" id="eventsCalandar">
    <app-events-calendar></app-events-calendar>
</div>

<div class="page" id="broadcasts">
    <app-broadcast></app-broadcast>
</div>

<div class="page" id="ministries">
    <app-ministries></app-ministries>
</div>

<div class="page" id="donation">
    <app-donate></app-donate>
</div>

<div class="page" id="contacts">
    <app-contact></app-contact>
</div>
