
<div class="first-block" appImageLoader>
    <div class="message">
        <div class="_page-title">{{ "mainPage.message1" | translate }}<strong>{{"mainPage.textStrong1" | translate}}</strong></div>
        <div class="_page-title">{{ "mainPage.message2" | translate }}<strong>{{"mainPage.textStrong2" | translate}}</strong></div>
        <div class="_page-title">{{ "mainPage.message3" | translate }}<strong>{{"mainPage.textStrong3" | translate}}</strong></div>
        <div class="_page-subtitle">{{ "mainPage.placeWriting" | translate }}</div>
    </div>
</div>
<div class="page" id="aboutChurch">
    <app-about-us></app-about-us>
</div>

<div class="page" id="eventsCalendar">
    <app-events-calendar></app-events-calendar>
</div>

<div class="page" id="broadcasts">
    <app-broadcast></app-broadcast>
</div>

<div class="page" id="ministries">
    <app-ministries></app-ministries>
</div>

<div class="page" id="donation">
    <app-donate></app-donate>
</div>

<div class="page" id="contacts">
    <app-contact></app-contact>
</div>
