<div class="wrapper">
    <div class="photo-block">
        <img [src]="project.photo" alt="project photo">
    </div>

    <div class="info-block">
        <div class="title">
            {{project.name}}
        </div>
        <div class="description">
            {{project.description}}
        </div>
        <div class="progress">
            ///
        </div>
    </div>

    <div class="buttons-block">
        <button>Детальніше</button>
        <button>Пожертвувати</button>
    </div>
</div>
