.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .photo-block {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .info-block {
        margin-top: 20px;

        .title {
            font-size: 16px;
            font-weight: bold;
        }

        .description {
            font-size: 14px;
        }
    }

    .buttons-block {
        margin-top: 20px;
    }
}
