<div class="wrapper">
    <div class="photo-block">
        <img [src]="project.photo" alt="project photo">
    </div>

    <div class="info-block">
        <div class="title">
            {{project.name}}
        </div>
        <div class="description">
            {{project.description}}
        </div>
        <div class="progress">
            <div class="progress-value">
                Зібрано: {{ project.haveMoney | currency }} / {{ project.needMoney | currency }}
            </div>
            <mat-progress-bar [value]="progress$ | async"></mat-progress-bar>
        </div>
    </div>

    <div class="buttons-block">
        <button mat-flat-button color="primary">Детальніше</button>
        <button mat-flat-button color="accent">Пожертвувати</button>
    </div>
</div>
