@import "design-styles.scss";

.mat-dialog-title {
    display: flex;
    align-items: center;

    .title {
        padding-left: 10px;
        margin: 0;
        flex: 1;
        font-size: 35px;
    
        @media screen and (max-width: 500px) {
            font-size: 28px;
        }
    }

    button {
        padding: 0;
        min-width: 36px;
        height: 36px;
        font-size: 24px;
        margin-left: 30px;
        margin-top: -20px;
        margin-right: -12px;
        color: $white;
        filter: brightness(10); // fix for ios
    }
}

.mat-dialog-content {
    margin: 0px -24px;
    max-height: 85vh;
    padding: 0;

    .video-wrapper {
        float: none;
        clear: both;
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
    
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.mat-dialog-action {
    margin: 20px 0 -10px;

    ._title-small {
        color: $white;
    }
}