<form [formGroup]="eventForm" (ngSubmit)="onSubmitForm()">

    <mat-form-field class="form-group">
        <mat-label>Тип</mat-label>
        <mat-select
            type="text"
            id="type"
            name="type"
            formControlName="type"
        >
            <mat-option *ngFor="let type of types" [value]="type.type">
                {{type.label}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="eventForm?.get('type')?.invalid && eventForm?.get('type')?.touched">
            Потрібно вказати тип події
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
        <mat-label>Назва</mat-label>
        <input
            matInput
            type="text"
            id="name"
            name="name"
            formControlName="name"
            autocomplete="off"
        >
        <mat-error *ngIf="eventForm?.get('name')?.invalid && eventForm?.get('name')?.touched">
            Потрібно вказати назву події
        </mat-error>
    </mat-form-field>

    <mat-button-toggle-group
        class="form-group small frequency"
        name="frequency"
        formControlName="frequency"
    >
        <mat-button-toggle value="once">разово</mat-button-toggle>
        <mat-button-toggle value="regular">регулярно</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field
        *ngIf="eventForm.get('frequency').value === 'once'"
        class="form-group small"
    >
        <mat-label>Дата</mat-label>
        <input
            matInput
            [matDatepicker]="datePicker"
            id="date"
            name="date"
            formControlName="date"
        >
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker color="primary"></mat-datepicker>
        <mat-error *ngIf="eventForm?.get('date')?.invalid && eventForm?.get('date')?.touched">
            Потрібно вказати дату події
        </mat-error>
    </mat-form-field>

    <mat-button-toggle-group
        *ngIf="eventForm.get('frequency').value === 'regular'"
        class="form-group small days"
        name="days"
        [multiple]="true"
        formControlName="days"
    >
        <mat-button-toggle value="0">пн</mat-button-toggle>
        <mat-button-toggle value="1">вт</mat-button-toggle>
        <mat-button-toggle value="2">ср</mat-button-toggle>
        <mat-button-toggle value="3">чт</mat-button-toggle>
        <mat-button-toggle value="4">пт</mat-button-toggle>
        <mat-button-toggle value="5">сб</mat-button-toggle>
        <mat-button-toggle value="6">нд</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field class="form-group small">
        <mat-label>Початок</mat-label>
        <input
            matInput
            type="time"
            id="start"
            name="start"
            formControlName="start"
        >
        <mat-error *ngIf="eventForm?.get('start')?.invalid && eventForm?.get('start')?.touched">
            Потрібно вказати час початку події
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group small">
        <mat-label>Кінець</mat-label>
        <input
            matInput
            type="time"
            id="finish"
            name="finish"
            formControlName="finish"
        >
        <mat-error *ngIf="eventForm?.get('finish')?.invalid && eventForm?.get('finish')?.touched">
            Потрібно вказати час кінця події
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
        <mat-label>Місце</mat-label>
        <input type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            formControlName="place"
            [matAutocomplete]="autoPlaces"
        >
        <mat-autocomplete #autoPlaces="matAutocomplete">
          <mat-option *ngFor="let place of filteredPlaces$ | async" [value]="place">
            {{place}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="eventForm?.get('name')?.invalid && eventForm?.get('name')?.touched">
            Потрібно вказати місце події
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
        <mat-label>Відповідальний</mat-label>
        <input
            matInput
            type="text"
            id="person"
            name="person"
            formControlName="person"
            autocomplete="off"
        >
    </mat-form-field>

    <mat-form-field class="form-group">
        <mat-label>Проповідники</mat-label>
        <mat-chip-list #preacherList>
            <mat-chip
                *ngFor="let preacher of eventForm.get('preachers').value"
                [selectable]="true"
                [removable]="true"
                (removed)="removeItemFromChips(preacher, 'preachers')"
            >
                {{preacher}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
                placeholder="Додати проповідника..."
                #preacherInput
                [formControl]="preachersInputCtrl"
                [matAutocomplete]="autoPreachers"
                [matChipInputFor]="preacherList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addItemToChips($event, 'preachers')"
            >
        </mat-chip-list>
        <mat-autocomplete
            #autoPreachers="matAutocomplete"
            (optionSelected)="selectedItemInChips($event, 'preachers')"
        >
            <mat-option
                *ngFor="let preacher of filteredPreachers$ | async"
                [value]="preacher"
            >
                {{preacher}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="form-group">
        <mat-label>Музичні гурти</mat-label>
        <mat-chip-list #singersList>
            <mat-chip
                *ngFor="let singer of eventForm.get('singers').value"
                [selectable]="true"
                [removable]="true"
                (removed)="removeItemFromChips(singer, 'singers')"
            >
                {{singer}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
                placeholder="Додати музичний гурт..."
                #singerInput
                [formControl]="singersInputCtrl"
                [matAutocomplete]="autoSingers"
                [matChipInputFor]="singersList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addItemToChips($event, 'singers')"
            >
        </mat-chip-list>
        <mat-autocomplete
            #autoSingers="matAutocomplete"
            (optionSelected)="selectedItemInChips($event, 'singers')"
        >
            <mat-option
                *ngFor="let singer of filteredSingers$ | async"
                [value]="singer"
            >
                {{singer}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="form-group">
        <mat-label>Задіяні церковні автомобілі</mat-label>
        <mat-chip-list #carsList>
            <mat-chip
                *ngFor="let car of eventForm.get('cars').value"
                [selectable]="true"
                [removable]="true"
                (removed)="removeItemFromChips(car, 'cars')"
            >
                {{car}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
                placeholder="Додати автомобіль..."
                #carInput
                [formControl]="carsInputCtrl"
                [matAutocomplete]="autoCars"
                [matChipInputFor]="carsList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addItemToChips($event, 'cars')"
            >
        </mat-chip-list>
        <mat-autocomplete
            #autoCars="matAutocomplete"
            (optionSelected)="selectedItemInChips($event, 'cars')"
        >
            <mat-option
                *ngFor="let car of filteredCars$ | async"
                [value]="car"
            >
                {{car}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

</form>
