@import "design-styles.scss";

._sub-page-bg {
    background-image: linear-gradient(
            0deg,
            rgba(30, 30, 30, 0.3),
            rgba(30, 30, 30, 0.3)
        ),
        url("https://camp-bethel.s3.amazonaws.com/backgrounds/confession-bg.jpg");
}

.content {
    padding: 50px;
    background-color: $white;
    max-width: 100%;

    @media screen and (max-width: 800px) {
        padding: 30px;
    }

    &.topics {
        @media screen and (max-width: 450px) {
            padding: 30px 15px;
        }
    }

    &.gray {
        background-color: $gray-medium;

        ._text-medium {
            color: $white;

            &.center {
                text-align: justify;
            }

            &.right {
                text-align: right;
            }
        }
    }

    &.white {
        background-color: $white;

        ._text-medium,
        ._title {
            color: $blue-dark;
        }
    }

    .block-title {
        margin: 30px 15px;
    }

    ::ng-deep .mat-expanded .panel-title {
        font-weight: bold;
    }
}
