<main class="main-wrapper">
    <div class="text-container">
        <h1 class="_title">{{ "mainPage.ministries.title" | translate }}</h1>
        <p class="_text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim, dolor non interdum interdum, enim neque enim la maximus tellus, id consectetur mi quam quis nulla. Nam dignissim id nisl eget aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim, dolor non enim interdum interdum, enim neque. </p>
        <!-- <div class="wrapper">
            <a class="_link" href="">{{ "mainPage.ministries.link1" | translate }}</a>
            <a class="_link" href="">{{ "mainPage.ministries.link2" | translate }}</a>
            <a class="_link" href="">{{ "mainPage.ministries.link3" | translate }}</a>
            <a class="_link" href="">{{ "mainPage.ministries.link4" | translate }}</a>
            <a class="_link" href="">{{ "mainPage.ministries.link5" | translate }}</a>
            <a class="_link" href="">{{ "mainPage.ministries.link6" | translate }}</a>
        </div> -->

        <div class="page-content">
            <div class="card">
              <div class="content">
                    <h2 class="title">{{ "mainPage.ministries.link1" | translate }}</h2>
                    <!-- <p class="copy">{{ "mainPage.ministries.link1" | translate }}</p> -->
                    <button class="btn">{{ "mainPage.ministries.link1" | translate }}</button>
              </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="title">{{ "mainPage.ministries.link2" | translate }}</h2>
                    <!-- <p class="copy">{{ "mainPage.ministries.link2" | translate }}</p> -->
                    <button class="btn">{{ "mainPage.ministries.link2" | translate }}</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="title">{{ "mainPage.ministries.link3" | translate }}</h2>
                    <!-- <p class="copy">{{ "mainPage.ministries.link3" | translate }}</p> -->
                    <button class="btn">{{ "mainPage.ministries.link3" | translate }}</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="title">{{ "mainPage.ministries.link4" | translate }}</h2>
                    <!-- <p class="copy">{{ "mainPage.ministries.link4" | translate }}</p> -->
                    <button class="btn">{{ "mainPage.ministries.link4" | translate }}</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="title">{{ "mainPage.ministries.link5" | translate }}</h2>
                    <!-- <p class="copy">{{ "mainPage.ministries.link5" | translate }}</p> -->
                    <button class="btn" routerLink="/camp">{{ "mainPage.ministries.link5" | translate }}</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="title">{{ "mainPage.ministries.link6" | translate }}</h2>
                    <!-- <p class="copy">{{ "mainPage.ministries.link6" | translate }}</p> -->
                    <button class="btn">{{ "mainPage.ministries.link6" | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</main>
