<div class="wrapper">

    <img class="bg-image">

    <div class="content">
        <div class="text-block">
            <h1 class="title">
                {{ 'campName' | translate }}
            </h1>

            <h2 class="subtitle">
                {{ "establishment" | translate }}
            </h2>
        </div>

        <div class="photo-block">
            <img class="camp-photo" src="https://camp-bethel.s3.amazonaws.com/backgrounds/main-background.jpg">
            <div class="sub "></div>
            <div class="sub-sub"></div>
        </div>
    </div>
</div>
