.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;

    .bg-image {
        background: linear-gradient(0deg, rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 0.7)),
            url("https://camp-bethel.s3.amazonaws.com/backgrounds/main-background.jpg");
        margin-top: 61px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: calc(100vh - 61px);
    }

    .content {
        position: absolute;
        z-index: 1;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 100px 0 50px 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        .text-block {
            flex: 1 0;
            max-width: 600px;
            color: white;
            text-align: start;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            padding-inline-end: 30px;

            .title {
                font-size: 100px;
                color: #cce6f5;
                margin: 0;
            }

            .subtitle {
                font-size: 50px;
                margin: 0;
                margin-top: 10px;
            }
        }

        .photo-block {
            height: 70%;
            flex: 0 1;
            margin-inline-end: -100px;
            width: fit-content;
            display: flex;
            position: relative;

            .camp-photo {
                height: 100%;
                border: 1px solid white;
                border-radius: 10px;
            }

            .sub {
                position: absolute;
                width: 100%;
                height: 100%;
                border: 1px solid white;
                background-color: #333333;
                border-radius: 10px;
                z-index: -1;
                top: -5px;
                left: -5px;
            }

            .sub-sub {
                position: absolute;
                width: 100%;
                height: 100%;
                border: 1px solid white;
                background-color: #333333;
                border-radius: 10px;
                z-index: -2;
                top: -10px;
                left: -10px;
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .wrapper .content .photo-block {
        margin-inline-end: -250px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper .content .photo-block {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .wrapper .content .text-block {
        .title {
            font-size: 70px;
        }

        .subtitle {
            font-size: 40px;
        }
    }
}
