<div class="wrapper">
    <carousel [images]="images" [objectFit]="'cover'" [cellWidth]="'100%'" [arrowsOutside]="true" [autoplay]="true"
        [dots]="true" [loop]="true" height="500">
    </carousel>
</div>

<div class="description-block">
    <div class="description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad ipsam, maiores perferendis incidunt amet
        perspiciatis facilis alias ullam temporibus dolore ut quia, autem adipisci expedita ab quos assumenda placeat
        vero accusantium molestiae rem error vitae doloremque suscipit? Optio, exercitationem ab.
    </div>
</div>
