<div class="wrapper">
    <div class="content-w">
        <div class="video-container">
            <iframe width="560" height="315"
                src="https://www.youtube.com/embed/xTxkwV8jB7E?rel=0&autoplay=0&showinfo=0&controls=0"
                title="Табір Вефіль Intro" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="text-container">
            <h2 class="_title">{{ "campPage.aboutUs" | translate }}</h2>
            <p class="_text-medium">{{ "campPage.aboutUsText" | translate }}</p>
            <p class="_text-medium">{{ "campPage.aboutUsText2" | translate }}</p>

            <div class="social">
                <p class="_text-medium">{{ "campPage.moreInfo" | translate }}</p>

                <div class="links">
                    <a href="https://www.instagram.com/_vefilcamp/" target="_blank">
                        <img src="assets/images/instagram-link.svg" alt="instagram">
                    </a>
                    <a href="https://www.facebook.com/groups/432704087085724" target="_blank">
                        <img src="assets/images/facebook-link.svg" alt="facebook">
                    </a>
                    <a href="https://www.youtube.com/channel/UC_4acIo8XxptI1JpWRbSq4g" target="_blank">
                        <img src="assets/images/Youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="statistics">
    <div class="blocks content-w">
        <div class="block" data-aos="zoom-in">
            <div class="_title">> 20</div>
            <div class="_text-medium">{{ "campPage.yearsOfMinistry" | translate }}</div>
        </div>

        <div class="block" data-aos="zoom-in">
            <div class="_title">> 70</div>
            <div class="_text-medium">{{ "campPage.numberOfCamps" | translate }}</div>
        </div>

        <div class="block" data-aos="zoom-in">
            <div class="_title">> 6000</div>
            <div class="_text-medium">{{ "campPage.numberOfChildren" | translate }}</div>
        </div>
    </div>
</div>
