<div class="wrapper">
    <div class="content-w">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xTxkwV8jB7E?rel=0&autoplay=0&showinfo=0&controls=0"
                title="Табір Вефіль Intro" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="text-container">
            <h2 class="_title">{{ "campPage.aboutUs" | translate }}</h2>
            <p class="_text">{{ "campPage.aboutUsText" | translate }}</p>
            <p class="_text">{{ "campPage.aboutUsText2" | translate }}</p>
        </div>
    </div>
</div>

<div class="statistics">
    <div class="blocks content-w">
        <div class="block" data-aos="zoom-in">
            <div class="_title">> 20</div>
            <div class="_text">{{ "campPage.yearsOfMinistry" | translate }}</div>
        </div>

        <div class="block" data-aos="zoom-in">
            <div class="_title">> 70</div>
            <div class="_text">{{ "campPage.numberOfCamps" | translate }}</div>
        </div>

        <div class="block" data-aos="zoom-in">
            <div class="_title">> 6000</div>
            <div class="_text">{{ "campPage.numberOfChildren" | translate }}</div>
        </div>
    </div>
</div>
