$white: #ffffff;
$blue-dark: #2F4659;
$blue-medium: #6093BF;
$blue-light: #89B3D9;
$gray-medium: #95ACBF;
$gray-light: #BFCDD9;
$brown: #BF948A;

@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
      @return $number / ($number * 0 + 1);
    }

    @return $number;
}

@function calcFontSize($f-min, $f-max, $w-min, $w-max, $units: px) {
    $f-min: strip-unit($f-min);
    $f-max: strip-unit($f-max);
    $w-min: strip-unit($w-min);
    $w-max: strip-unit($w-max);

	$k: ($f-max - $f-min)/($w-max - $w-min);
	$b: $f-min - $k * $w-min;

	$b: $b + $units;

	@return calc( #{$k} * 100vw + #{$b} );
}

@mixin fontSize($f-min, $f-max, $w-min, $w-max) {

    font-size: $f-min;

    @media (min-width: $w-min) {
      font-size: calcFontSize($f-min, $f-max, $w-min, $w-max, px);
    }
    @media (min-width: $w-max) {
      font-size: $f-max;
    }
}

._title {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 58px;
    margin: 0.2em 0;

    @media screen and (max-width: 800px) {
        font-size: 36px;
        line-height: 48px;
    }
}

._text-medium {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;

    @media screen and (max-width: 800px) {
        font-size: 18px;
        line-height: 26px;
    }
}

._text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    margin: 0.3em 0;

    @media screen and (max-width: 800px) {
        font-size: 18px;
        line-height: 26px;
    }
}

._title-large {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 74px;
    text-align: center;
    text-transform: uppercase;
}

._title-small {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin: 0.3em 0;
    text-transform: uppercase;
}

._text-small {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 0.3em 0;
}

._link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}

._page-title {
    @include fontSize(32px, 68px, 480px, 1280px);
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0;
}

._page-subtitle {
    @include fontSize(20px, 38px, 480px, 1280px);
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    margin: 10px 0 0;
}


