@import "design-styles.scss";

:host {
    display: flex;
    flex-direction: column;
}

.top-block {
    background-color: $blue-medium;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 30px 30px;

    .content-w {
        ._page-subtitle,
        ._page-title {
            text-align: center;
            padding: 10px 0;
            color: $white;
        }
    }
}

.description-wrapper {
    padding: 50px 0;
    background-color: $white;
    max-width: 100%;

    .content-w {
        display: flex;
        align-items: center;
        overflow: hidden;

        .text {
            padding: 0 50px;

            ._title {
                color: $blue-medium;
                margin-bottom: 20px;
            }

            ._text-medium {
                color: $blue-dark;
            }
        }

        carousel {
            width: 700px;
            height: 525px !important;
            z-index: 8;

            ::ng-deep .carousel-arrow {
                opacity: 0.75;

                &.carousel-arrow-disabled {
                    opacity: 0.5;
                }
            }
        }
    }
}

.request-wrapper {
    padding: 50px;
    background-color: $gray-light;
    max-width: 100%;

    .content-w {
        display: flex;
        flex-direction: column;
        align-items: center;

        ._title {
            color: $blue-dark;
        }

        ._text-medium {
            text-align: center;
            color: $blue-dark;
        }

        .request {
            text-transform: uppercase;
        }

        .items {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 20px;
                width: 230px;

                &:not(:first-child) .money {
                    position: relative;
                    width: 100%;

                    &:after {
                        content: "+";
                        position: absolute;
                        left: -30px;
                    }
                }

                &.summary .money:after {
                    content: "=";
                    left: -35px;
                }
            }
        }

        button {
            margin-top: 20px;
            font-size: 20px;
            padding: 8px 30px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .description-wrapper .content-w carousel {
        width: 500px;
        height: 375px !important;
    }
}

@media screen and (max-width: 1024px) {
    .top-block {
        height: 400px;
        padding-top: 80px;
    }
}

@media screen and (max-width: 800px) {
    .description-wrapper {
        padding: 0;

        .content-w {
            flex-direction: column-reverse;

            .text {
                padding: 30px;
            }

            carousel {
                width: 100%;
                height: 500px !important;
            }
        }
    }

    .request-wrapper {
        padding: 30px;
    }
}

@media screen and (max-width: 600px) {
    .description-wrapper .content-w carousel {
        height: 400px !important;

        ::ng-deep .carousel-arrow {
            display: none;
        }
    }
}

@media screen and (max-width: 450px) {
    .description-wrapper .content-w carousel {
        height: 300px !important;
    }
}
