<div class="top-block">
    <div class="content-w">
        <h2 class="_page-subtitle">
            {{ "campPage.establishment" | translate }}
            <b>«{{ "campPage.campName" | translate }}»</b>
        </h2>

        <h1 class="_page-title">
            {{ project.name | translate }}
        </h1>
    </div>
</div>

<div class="description-wrapper">
    <div class="content-w">
        <div class="text" data-aos="fade-in">
            <div class="_title">
                {{ project.name | translate }}
            </div>

            <div class="_text-medium">
                {{ project.description | translate }}
            </div>
        </div>

        <app-photo-carusel [images]="project.photos"></app-photo-carusel>
    </div>
</div>

<div class="request-wrapper">
    <div class="content-w">
        <div class="request _text-medium">
            {{ project.requestIntro | translate }}
        </div>

        <div class="items">
            <div class="item" *ngFor="let request of project.requests" data-aos="fade-in">
                <div class="money _title">
                    {{ request.money | currency:'USD':'symbol':'1.0-0' }}
                </div>
                <div class="_text-medium">
                    {{ request.text | translate }}
                </div>
            </div>

            <div class="item summary" data-aos="fade-in">
                <div class="money _title">
                    {{ project.needMoney | currency:'USD':'symbol':'1.0-0' }}
                </div>
                <div class="_text-medium">
                    <b>{{ "campPage.totalNeed" | translate }}</b>
                </div>
            </div>
        </div>

        <app-donate-button class="large"></app-donate-button>
    </div>
</div>

<div class="verse-wrapper">
    <div class="content-w">
        <img src="/assets/images/camp/camp.svg" alt="camp">
        <div class="text" data-aos="fade-in">
            <div class="_title">
                <div class="verse-text">
                    {{ "campPage.verse" | translate }}
                </div>
            </div>
            <div class="_text-medium verse-place">
                {{ "campPage.versePlace" | translate }}
            </div>
        </div>
    </div>
</div>
