<div class="wrapper">

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/t-ZiVqlLawY" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="text-container" data-aos="fade-in">
        <b class="title">{{ "aboutUs" | translate }}</b>
        {{ "aboutUsText" | translate }}
    </div>
</div>

<div class="statistics">
    <div class="blocks">
        <div class="block" data-aos="zoom-in">
            <div class="value">> 20</div>
            <div class="text">{{ "yearsOfMinistry" | translate }}</div>
        </div>

        <div class="block" data-aos="zoom-in">
            <div class="value">> 70</div>
            <div class="text">{{ "numberOfCamps" | translate }}</div>
        </div>

        <div class="block" data-aos="zoom-in">
            <div class="value">> 6000</div>
            <div class="text">{{ "numberOfChildren" | translate }}</div>
        </div>
    </div>
</div>
