<div class="wrapper">
    <div class="video-container">
        <iframe width="560" height="320" src="https://www.youtube.com/embed/t-ZiVqlLawY" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="text-container" data-aos="fade-in">
        <h2 class="_title">{{ "aboutUs" | translate }}</h2>
        <p class="_text">{{ "aboutUsText" | translate }}</p>
        <p class="_text">{{ "aboutUsText2" | translate }}</p>
    </div>
</div>

<div class="statistics">
    <div class="blocks">
        <div class="block" data-aos="zoom-in">
            <div class="_title">> 20</div>
            <div class="_text">{{ "yearsOfMinistry" | translate }}</div>
        </div>

        <div class="block" data-aos="zoom-in">
            <div class="_title">> 70</div>
            <div class="_text">{{ "numberOfCamps" | translate }}</div>
        </div>

        <div class="block" data-aos="zoom-in">
            <div class="_title">> 6000</div>
            <div class="_text">{{ "numberOfChildren" | translate }}</div>
        </div>
    </div>
</div>
