<main class="main-wrapper">
    <div class="text-container">
        <h1 class="_title">{{ "mainPage.events.title" | translate }}</h1>
        <p class="_text-medium" innerHTML="{{ 'mainPage.events.description' | translate }}"></p>
        <a class="_link star-of-hope" href="https://www.facebook.com/StarOfHopeSverige/" target="_blank" rel="noopener">
            <img src="/assets/images/StarOfHope_100x100.jpg" alt="Star Of Hope">
            <span>Star Of Hope</span> 
        </a>
        <a class="_link iplift-ukraine" href="https://www.facebook.com/upliftukraine/" target="_blank" rel="noopener">
            <img src="/assets/images/UpliftUkraine_100x100.jpg" alt="Uplift Ukraine">
            <span>Uplift Ukraine</span>
        </a>
    </div>
    <div class="rectangle-image"></div>
</main>
