<div class="header">
    <button class="month-btn" (click)="getPreviosMonth()">&#8678;</button>
    <div class="title">{{ title }}</div>
    <button class="month-btn" (click)="getNextMonth()">&#8680;</button>
</div>

<div class="body">
    <div class="day" *ngFor="let day of monthDays">
        <div class="label" [ngClass]="day.nameOfDay === 'нд' ? 'sunday' : ''">
            <div class="number">{{ day.date | date:'d' }}</div>
            <div class="name">{{ day.nameOfDay }}</div>
        </div>
    </div>
</div>
