@import "design-styles.scss";

$red: #E2717F;
$bg-gray: #f0f3f6;

.header {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 16px;
    padding: 16px;
    border: 1px solid $gray-light;
    background-color: $gray-light;
    border-radius: 5px;
    margin: 10px auto 0;

    .week-controls {
        display: flex;
        align-items: center;
        flex: 1;
        min-width: 360px;

        .title {
            text-align: center;
            color: $blue-dark;
            font-weight: bolder;
            line-height: 1.5;
            padding: 0 5px;
        }

        .week-btn {
            border: none;
            background-color: transparent;
            color: $blue-dark;
            cursor: pointer;
            display: flex;
            align-items: center;

            img.reverse {
                transform: rotate(180deg);
            }
        }
    }

    .button-controls {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;

        .settings-btn {
            border: none;
            background-color: transparent;
            color: $blue-dark;
            cursor: pointer;
            margin-left: auto;

            .mat-icon {
                transform: rotate(0deg);
                transition: transform 0.3s;

                &.rotated {
                    transform: rotate(90deg);
                }
            }
        }
    }

    @media screen and (max-width: 1025px) {
        & {
            margin: 0;
            padding: 12px 8px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            .button-controls {
                padding: 0 6px;
            }
        }
    }

    @media screen and (max-width: 600px) {
        & {
            flex-direction: column-reverse;

            .week-controls {
                justify-content: center;
                min-width: unset;
            }

            .button-controls {
                align-self: flex-end;
            }
        }
    }
}

.toolbar {
    max-width: 1024px;
    display: flex;
    border: 1px solid $gray-light;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 auto 10px;
    position: relative;
    top: -5px;
    overflow: hidden;
    height: 0px;
    transition: height 300ms ease-out;

    &.show {
        height: 240px;
    }

    .left-column {
        padding: 20px;

        .type {
            margin-bottom: 3px;
        }
    }
}

.body {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .day {
        display: flex;
        align-items: center;
        border: 1px solid $gray-light;
        border-top: none;
        padding: 10px;
        min-height: 60px;

        .label {
            width: 50px;
            margin-right: 10px;
            text-align: center;
            font-weight: bolder;
            position: relative;

            .number {
                color: $blue-dark;
            }

            .name {
                color: $blue-medium;
            }

            @media screen and (max-width: 400px) {
                & {
                    width: 40px;
                }
            }
        }

        &:first-child {
            border-top: 1px solid $gray-light;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            margin-bottom: 10px;
        }

        &[data-day='пн'] {
            border-top: 1px solid $gray-light;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &[data-day='нд'] {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            margin-bottom: 10px;

            .label .name {
                color: $red;
            }
        }

        &[data-day='сб'],
        &[data-day='нд'] {
            background-color: $bg-gray;
        }

        &.today {
            .label{
                .number,
                .name {
                    color: $white;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: -7px;
                    left: 0px;
                    background: $blue-medium;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    z-index: -1;

                    @media screen and (max-width: 400px) {
                        & {
                            top: -5px;
                            left: -5px;
                        }
                    }
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 5px;
            flex: 1;

            .event {
                padding: 8px 12px;
                border-radius: 5px;
                border: 1px solid $gray-light;
                display: flex;
                align-items: center;

                .left-part {
                    flex: 0 0 60px;
                    padding-right: 12px;
                    text-align: center;
                }

                .main-part {
                    flex: 1;

                    .name {
                        font-weight: 500;
                        margin-bottom: 3px;
                    }

                    .row {
                        display: flex;
                        align-items: center;
                        margin-bottom: 3px;
                    }
                }

                .right-part {
                    padding-left: 3px;
                }
            }
        }
    }
}
